In [1]:
from experiment import Experiment
from utils import save_result
%matplotlib inline

/home/taewook/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
var_dict = dict(
    numerical_vars = ['A2','A3','A8','A11','A14','A15'],
    categorical_vars = ['A1','A4','A5','A6','A7','A9','A10','A12','A13'],
    class_var = 'class'
)

In [10]:
exp = Experiment('data/credit1.csv', 
                 var_dict,
                 embedding_dim=8,
                 lr=0.1,
                 cv=10,
                 weight_decay=0.0,
                 batch_size=1024,
                 n_epoch=50,
                 verbose=True,
                 n_bins_range=[10],
                 n_init_bins_list=[10],
                 co_occur_cutoff=2)

In [11]:
exp.data.shape

(654, 16)

In [ ]:
exp.perform_exp()

>>> Epoch = 1
Loss = 3.232924222946167
>>> Epoch = 2
Loss = 2.6847572326660156
>>> Epoch = 3
Loss = 2.5838773250579834
>>> Epoch = 4
Loss = 2.7359426021575928
>>> Epoch = 5
Loss = 2.492750406265259
>>> Epoch = 6
Loss = 2.1376545429229736
>>> Epoch = 7
Loss = 2.4383320808410645
>>> Epoch = 8
Loss = 1.5987131595611572
>>> Epoch = 9
Loss = 1.7912346124649048
>>> Epoch = 10
Loss = 2.2766454219818115
>>> Epoch = 11
Loss = 2.0672519207000732
>>> Epoch = 12
Loss = 1.898971676826477
>>> Epoch = 13
Loss = 1.6283713579177856
>>> Epoch = 14
Loss = 2.031177043914795
>>> Epoch = 15
Loss = 1.7938095331192017
>>> Epoch = 16
Loss = 1.6910117864608765
>>> Epoch = 17
Loss = 1.7981370687484741
>>> Epoch = 18
Loss = 1.4567724466323853
>>> Epoch = 19
Loss = 1.806709885597229
>>> Epoch = 20
Loss = 1.4137812852859497
>>> Epoch = 21
Loss = 1.7496323585510254
>>> Epoch = 22
Loss = 1.8156473636627197
>>> Epoch = 23
Loss = 1.3768155574798584
>>> Epoch = 24
Loss = 1.501720905303955
>>> Epoch = 25
Loss = 1.726670265197754
>>> Epoch = 26
Loss = 2.0118961334228516
>>> Epoch = 27
Loss = 1.7301599979400635
>>> Epoch = 28
Loss = 1.7012443542480469
>>> Epoch = 29
Loss = 1.8008462190628052
>>> Epoch = 30
Loss = 1.6282950639724731
>>> Epoch = 31
Loss = 1.5794706344604492
>>> Epoch = 32
Loss = 1.6787662506103516
>>> Epoch = 33
Loss = 1.6084513664245605
>>> Epoch = 34
Loss = 1.6152278184890747
>>> Epoch = 35
Loss = 1.614205241203308
>>> Epoch = 36
Loss = 1.6519556045532227
>>> Epoch = 37
Loss = 1.4341553449630737
>>> Epoch = 38
Loss = 1.7488408088684082
>>> Epoch = 39
Loss = 1.5383446216583252
>>> Epoch = 40
Loss = 1.3286316394805908
>>> Epoch = 41
Loss = 1.506536602973938
>>> Epoch = 42
Loss = 1.4527186155319214
>>> Epoch = 43
Loss = 1.6705533266067505
>>> Epoch = 44
Loss = 1.4760570526123047
>>> Epoch = 45
Loss = 1.3825429677963257
>>> Epoch = 46
Loss = 1.5841460227966309
>>> Epoch = 47
Loss = 1.8234950304031372
>>> Epoch = 48
Loss = 1.4033315181732178
>>> Epoch = 49
Loss = 1.786356806755066
>>> Epoch = 50
Loss = 1.6229912042617798
Experiment Finished !. Result Saved in Exp Instance..

In [ ]:
exp.plot_pairwise_distance_matrices()

In [6]:
result = exp.get_result()

In [7]:
result

,disc_method,dt_acc_depth=3,dt_acc_depth=4,dt_acc_depth=5,lr_acc_C=0.5,lr_acc_C=1.0,n_disc_cols,rf_acc_n_est=10,rf_acc_n_est=20,rf_acc_n_est=30
0,raw,0.834,0.824,0.832,0.850,0.849,6,0.850,0.850,0.849
1,sb_20,0.852,0.817,0.815,0.853,0.855,32,0.858,0.849,0.852
2,sb_30,0.834,0.827,0.829,0.855,0.858,42,0.852,0.859,0.843
3,ew_10,0.821,0.823,0.821,0.850,0.847,60,0.841,0.846,0.844
4,ef_10,0.841,0.858,0.837,0.856,0.852,50,0.853,0.853,0.852

In [8]:
save_result(result, './exp_results', 'credit1')